body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70rem;
    
}

#quizbox {
    height: 80%;
    width: 75%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    padding-right: 40px 80px 40px 80px;
    margin-left: 10rem;
    margin-top: 7rem;
    text-align: center;
    border: solid 2px;
    border-radius: 15%;

}

.quiz-text {
    text-align: center;
    padding-left: 12em;
    color: black;
}